using '../main.bicep'

param resourceGroupName = '<set-local-development-resource-group-name>'
param keyVaultName = '<set-local-globally-unique-vault-name>'
// The workflows inject developmentReaderPrincipalId from the current signed-in user.
param assignDevelopmentReaderRole = false
