using '../main.bicep'

param resourceGroupName = '<set-local-development-resource-group-name>'
param keyVaultName = '<set-local-globally-unique-vault-name>'
param developmentReaderPrincipalId = '<set-local-current-user-object-id>'
param assignDevelopmentReaderRole = false
